[submodule "external/jossnet-core"]
	path = external/jossnet-core
	url = https://github.com/jossweb/jossnet-core.git
[submodule "external/external/cpp-dotenv"]
	path = external/external/cpp-dotenv
	url = https://github.com/adeharo9/cpp-dotenv.git
[submodule "external/cpp-dotenv"]
	path = external/cpp-dotenv
	url = https://github.com/adeharo9/cpp-dotenv.git
[submodule "cppcodec"]
	path = cppcodec
	url = https://github.com/tplgy/cppcodec.git
[submodule "external/cppcodec"]
	path = external/cppcodec
	url = https://github.com/tplgy/cppcodec.git
